@import "../../../scss/variable";
@import "../../../scss/mixin";
@import "../../../scss/flex";

/*============================================= Tab =============================================== */

.ant-tabs-ink-bar {
  position: absolute;
  background: $primary !important;
  pointer-events: none;
}

/*============================================= pagination =============================================== */

.ant-pagination .ant-pagination-item-active a {
  border-radius: 8px;
  padding-bottom: 1px;
  color: $white !important;
  background-color: $primary;
}

/*============================================= Filter =============================================== */
.ant-checkbox-wrapper {
  width: fit-content;
}

.ant-col-8 {
  min-width: fit-content;
}

/*============================================= Search =============================================== */

.search-filter-container {
  display: flex;

  // .search-bar {
  //   width: 50%;
  //   background: $white;
  //   border: 1px solid $placeholder-color;
  //   border-radius: 10px;
  //   max-height: 45px;
  //   padding: 5px 15px;
  //   display: flex;
  //   justify-content: start;
  //   align-items: center;

  //   .ant-btn {
  //     border: none;
  //     padding: 0;
  //     // border-radius: 20px;
  //   }

  //   .ant-btn-icon-only.ant-btn-lg {
  //     width: 20px;
  //     height: 20px;
  //     padding: 4.9px 0;
  //     font-size: 18px;
  //     border-radius: 2px;
  //   }

  //   .ant-input-group {
  //     display: flex;
  //     flex-direction: row-reverse;
  //     gap: 20px;
  //     justify-content: start;
  //   }

  //   .ant-input-affix-wrapper {
  //     max-width: 100% !important;
  //     max-height: 20px;
  //     padding: 0;
  //   }

  //   .ant-input {
  //     max-height: 20px;
  //   }
  // }

  .filter {
    display: flex;
    justify-content: end;
    .dropdown {
      position: relative;
      display: flex;
      justify-content: end;
      width: 100%;

      .dropbtn {
        background-color: $primary;
        color: white;
        font-size: 14px;
        border-radius: 10px;
        cursor: pointer;
        width: 69px;
        height: 45px;

        &:hover {
          .dropdown-content {
            display: block;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          right: 35px;
          top: 26px;
          background-color: #f9f9f9;
          width: 52%;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;

          ul {
            color: black;
            padding: 10px 8px 2px 15px;
            text-decoration: none;
            display: block;
          }

          .filteTitle {
            margin-top: 6px;
            text-align: start;
          }
        }
      }
    }
  }
}

/*============================================= Table  Column =============================================== */

// --------------------------- For Table Cell   -----------------------------------

.ant-table {
  //  table head
  .ant-table-thead {
    tr {
      th {
        padding: 12px !important;
      }
    }
  }

  //  table body
  .ant-table-tbody {
    tr {
      .ant-table-cell {
        padding: 4px 16px !important;
      }
    }
  }
}

// --------------------------- Status   -----------------------------------
.status-active {
  // border: 1px solid green;
  color: green;
}

.inActive {
  color: red;
  border: 1px solid red;
}

.sold {
  color: lightblue;
  border: 1px solid lightblue;
}

.status {
  text-align: center;
  min-width: 82px;
  padding: 5px 10px;
  border-radius: 5px;
}

/*============================================= Table View Row Data =============================================== */

.viewRowDataLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    grid-template-rows: 100px;
    justify-content: start;
    align-items: start;

    .filed-label {
      width: 100%;
      padding-left: 4px;
      text-transform: capitalize;
      color: whitesmoke;
    }

    .filed-content {
      display: inline-block;
      width: 100%;
      min-height: 45px;
      color: black;
      border: 1px solid $placeholder-color;
      border-radius: 10px;
      padding: 8px 20px;
    }
  }
  .col-span {
    grid-column: span 2;
  }

  .back-button {
    display: inline-block;
    justify-self: end;
    align-self: center;
    grid-column: span 2;
  }
}

/*============================================= Control Edit Filed =============================================== */

.ant-form {
  display: inline-block;
  width: 100%;
  // .row {
  //   .ant-input {
  //     // @include prefix(box-shadow, 0px 4px 12px rgba(18, 42, 70, 0.31));
  //     // height: 20px !important;
  //   }
  // }

  [class^="col-"] {
    padding-right: 10px;
    padding-left: 5px;
  }

  .ant-form-item {
    margin-bottom: 5px;
  }
}

.anticon {
  color: black !important;
}
