@import "../../../assets/assets/scss/myscss/variable";
@import "../../../assets/assets/scss/myscss/mixin";
@import "../../../assets/assets/scss/myscss/flex";

/*============================================= Tab =============================================== */
:where(.css-dev-only-do-not-override-mxhywb).ant-tabs {
  width: 100%;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: $primary !important;
  pointer-events: none;
}

/*============================================= pagination =============================================== */

:where(.css-dev-only-do-not-override-mxhywb).ant-pagination {
  box-sizing: border-box;
  background-color: #30303a;
  .ant-pagination-item {
    background-color: white;

    a:hover {
      border-radius: 6px;
      background-color: #686885;
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    background-color: white;

    .ant-pagination-item-link {
      display: flex;
      align-items: center;
      background-color: white;
      justify-content: center;
    }
  }

  .ant-pagination-item-active {
    color: whitesmoke;
    border-color: black;
    background-color: #686885;
  }
}

/*============================================= Filter =============================================== */
.ant-checkbox-wrapper {
  width: fit-content;
}

.ant-col-8 {
  min-width: fit-content;
}

/*============================================= Search =============================================== */

.search-filter-container {
  display: flex;

  .filter {
    display: flex;
    justify-content: flex-end;
    .dropdown {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .dropbtn {
        background-color: $primary;
        color: white;
        font-size: 14px;
        border-radius: 10px;
        cursor: pointer;
        width: 69px;
        height: 45px;

        &:hover {
          .dropdown-content {
            display: block;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          right: 35px;
          top: 26px;
          background-color: #f9f9f9;
          width: 52%;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;

          ul {
            color: black;
            padding: 10px 8px 2px 15px;
            text-decoration: none;
            display: block;
          }

          .filteTitle {
            margin-top: 6px;
            text-align: start;
          }
        }
      }
    }
  }
}

/*============================================= Table  Column =============================================== */

// --------------------------- For Table Cell   -----------------------------------

:where(.css-dev-only-do-not-override-mxhywb).ant-table-wrapper {
  table {
    //  table head
    background-color: #30303a;
    color: whitesmoke;
    .ant-table-thead {
      background-color: #30303a;

      tr {
        th {
          background: none;
          color: aqua;
          padding: 12px !important;

          &::before {
            display: none;
          }
        }
      }
    }

    //  table body
    .ant-table-tbody {
      tr {
        .ant-table-cell {
          padding: 4px 16px !important;
          > &:hover {
            background-color: #523a3a;
          }
        }
      }
      > tr.ant-table-row:hover > td {
        background-color: #b6b5bd;
      }
    }
  }
}

// --------------------------- Status   -----------------------------------
.status-active {
   border: 1px solid green;
  color: green;
}

.inActive {
  color: red;
  border: 1px solid red;
}

.sold {
  color: lightblue;
  border: 1px solid lightblue;
}

.status {
  text-align: center;
  min-width: 82px;
  padding: 5px 10px;
  border-radius: 5px;
}

/*============================================= Table View Row Data =============================================== */

.viewRowDataLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    grid-template-rows: 100px;
    justify-content: flex-start;
    align-items: flex-end;

    .filed-label {
      width: 100%;
      padding-left: 4px;
      text-transform: capitalize;
      color: whitesmoke;
    }

    .filed-content {
      display: inline-block;
      width: 100%;
      min-height: 45px;
      color: black;
      border: 1px solid $placeholder-color;
      border-radius: 10px;
      padding: 8px 20px;
    }
  }
  .col-span {
    grid-column: span 2;
  }

  .back-button {
    display: inline-block;
    justify-self: end;
    align-self: center;
    grid-column: span 2;
  }
}

/*============================================= Control Edit Filed =============================================== */

.ant-form {
  display: inline-block;
  width: 100%;
  // .row {
  //   .ant-input {
  //     // @include prefix(box-shadow, 0px 4px 12px rgba(18, 42, 70, 0.31));
  //     // height: 20px !important;
  //   }
  // }

  [class^="col-"] {
    padding-right: 10px;
    padding-left: 5px;
  }

  .ant-form-item {
    margin-bottom: 5px;
  }
}

.anticon {
  color: black !important;
}
