@import "../../../assets/assets/scss/myscss/variable";
@import "../../../assets/assets/scss/myscss/mixin";
@import "../../../assets/assets/scss/myscss/flex";

/*============================================= Tab =============================================== */

:where(.css-dev-only-do-not-override-mxhywb).ant-tabs {
  width: 100%;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: $primary !important;
  pointer-events: none;
}

/*============================================= pagination =============================================== */

.ant-pagination {
  box-sizing: border-box;
  margin: 16px 0;
  background-color: $theme-dark;
  .ant-pagination-item {
    background-color: white !important;

    a:hover {
      border-radius: 6px;
      background-color: #686885;
    }
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    background-color: white !important;

    .ant-pagination-item-link {
      display: flex;
      align-items: center;
      background-color: white !important;
      justify-content: center;
    }
  }
  .ant-pagination-item-active {
    color: whitesmoke;
    border-color: black;
    background-color: #7676b1 !important;
  }
}

/*============================================= Filter =============================================== */

.ant-checkbox-wrapper {
  width: fit-content;
}

.ant-col-8 {
  min-width: fit-content;
}

/*============================================= Search =============================================== */

.search-filter-container {
  display: flex;

  .filter {
    display: flex;
    justify-content: flex-end;
    .dropdown {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .dropbtn {
        background-color: $primary;
        color: white;
        font-size: 14px;
        border-radius: 10px;
        cursor: pointer;
        width: 69px;
        height: 45px;

        &:hover {
          .dropdown-content {
            display: block;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          right: 35px;
          top: 26px;
          background-color: #f9f9f9;
          width: 52%;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;

          ul {
            color: black;
            padding: 10px 8px 2px 15px;
            text-decoration: none;
            display: block;
          }

          .filteTitle {
            margin-top: 6px;
            text-align: start;
          }
        }
      }
    }
  }
}

/*============================================= Table =============================================== */

.ant-table-wrapper {
  margin-left: 15px;
  margin-right: 10px;
  table {
    background-color: #30303a;
    color: whitesmoke;
    .ant-table-thead {
      background-color: #30303a;

      tr {
        th {
          background: none;
          color: aqua;
          padding: 12px !important;

          &::before {
            display: none;
          }
        }
      }
    }

    //  table body
    .ant-table-tbody {
      tr {
        .ant-table-cell {
          padding: 4px 16px !important;
          background-color: #523a3a;
          button {
            &:hover {
              // padding: 5px !important;
              background-color: rgba(0, 0, 0, 0.25);
              box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
                rgb(51, 51, 51) 0px 0px 0px 3px !important;
            }
            div {
              padding: 0 !important;
            }
          }
          > &:hover {
            background-color: #3520d8;
          }
        }

        :nth-child(10) {
          padding: 0 !important;
          article {
            &:hover {
              svg {
                border-radius: 25%;
                color: rgba(96, 103, 177, 0.509);
              }
            }
          }
        }
      }
      > tr.ant-table-row:hover > td {
        background-color: #b6b5bd;
      }
    }
  }
}

.mar-right-8 {
  margin-right: 8px;
}

.mr-b-5 {
  margin-bottom: 8px;
}

.gap-5 {
  gap: 5px;
}

/* --------------------------- Status   -----------------------------------  */

.status-active {
  border: 1px solid green;
  color: green;
}

.inActive {
  color: red;
  border: 1px solid red;
}

.sold {
  color: lightblue;
  border: 1px solid lightblue;
}

.status {
  text-align: center;
  min-width: 92px;
  padding: 5px 10px;
  border-radius: 5px;
}

/*============================================= Table View Row Data =============================================== */

.ant-btn.ant-btn-default,
.ant-btn.ant-btn-primary {
  width: 150px;
  height: 45px;
}

.ant-btn.ant-btn-lg.ant-btn-icon-only.ant-input-search-button {
  width: 40px;
  height: 40px;
  box-shadow: rgba(177, 34, 34, 0.24) 0px 3px 8px;
}

.viewRowDataLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;

  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    grid-template-rows: 100px;
    justify-content: flex-start;
    align-items: flex-end;

    .filed-label {
      width: 100%;
      padding-left: 4px;
      text-transform: capitalize;
      color: whitesmoke;
      margin: 0;
    }

    .filed-content {
      display: inline-block;
      width: 100%;
      min-height: 45px;
      color: #c5a5a5;
      border: 1px solid $placeholder-color;
      border-radius: 10px;
      padding: 8px 20px;
      margin: 0;
    }
  }
  .col-span {
    grid-column: span 2;
  }

  .back-button {
    display: inline-block;
    justify-self: end;
    align-self: center;
    grid-column: span 2;
  }
}

/* ============================================= Control Edit Filed ===============================================  */

.ant-form {
  display: inline-block;
  width: 100%;

  .row {
    margin: 0;

    [class^="col-"] {
      padding-right: 10px;
      padding-left: 5px;
    }

    .ant-form-item {
      margin-bottom: 5px;
    }

    .mar-top-8 {
      margin-top: 16px;
    }
  }
}

.pageLabel {
  padding: 20px;
  position: relative;
  box-shadow: none;
}

@include responsive(xs) {
  .viewRowDataLayout {
    display: flex;
    flex-direction: column;
  }

  // :where(.css-dev-only-do-not-override-mxhywb)
  .ant-form .row {
    gap: 10px;
    .ant-form-item {
      .ant-form-item-label,
      .ant-form-item-control {
        flex: 0 0 50%;
      }
    }
  }
}
